@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

* {
    margin: 0px;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

@media screen and (min-width: 992px) {
    .col-lg-6 {
        margin-left: 7%;
    }
}